body {
  font-size: 16px;
  font-family: Open Sans;
  background-image: url("../119H.jpg");
  background-size: cover;
  margin: 0;
}

header {
  height: 100px;
  color: #87A440;
  width: 100%;
  text-align: center;
  float: left;
  position: relative;
}


.nav {
  height: 50px;
  width: 100%;
  background-color: #87A440;
  border-bottom: 1px solid rgba(40, 161, 49, 0.75);
  border-top: 1px solid rgba(40, 161, 49, 0.75);
  float: left;
  position: relative;
}

input {
  margin-left: 8%;
}

.input-wrapper {
  margin-left: 18%;
  margin-top: 15px;

}

.content {
  height: 300px;
  float: left;
  color: rgb(97, 97, 97);
  width: 100%;
  text-align: center;
  border: 1px solid rgba(46, 140, 44, 0.53);
  background-color: rgba(255, 255, 255, 1);
  position: relative;

  -webkit-transition: width 2s;
  transition: width 2s;
}

footer {
  border-top: 1px solid rgba(161, 161, 161, 0.75);
  float: left;
  text-align: center;
  position: relative;
  color: #87A440;
  width: 100%;
}

.btn {
  position: relative;
  float: left;
  color: #000000;
  margin-left: 9%;
}​
